/* Write your CSS here */
.app-container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container {
  background-color: #ffffff;
  width: 90%;
  min-width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.heading {
  color: #ff8542;
  font-size: 35px;
  font-family: 'Roboto';
}

